@model CommYouNity.Member

@{
    ViewBag.Title = "Delete";
}
<div class="form-horizontal">
    <div class="formbg">

        <h2>Delete</h2>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Member</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Community.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Community.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AboutMe)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AboutMe)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ImgSrc)
                </dt>
                <dd>
                    @{if (Model.ImgSrc.Length > 2)
                    {
                        <div class="img">
                            <a href="@Model.ImgSrc"><img src="@Model.ImgSrc" alt="@Model.FullName" width=" 150" height="100" /></a>
                        </div>
                    }
                    else
                    {
                        <p>No image uploaded</p>
                    }
                    }
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>