@model CommYouNity.Models.LocationTaskView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.singleLocation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singleLocation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singleLocation.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singleLocation.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singleLocation.ImgSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singleLocation.ImgSrc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.singleLocation.GoogleMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.singleLocation.GoogleMap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.singleLocation.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
