<div class="formbg">

    @model CommYouNity.Models.LocationTaskView

    @{
        ViewBag.Title = "Location List";
    }

    <h2>Location List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.singleLocation.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocation.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocation.ImgSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocation.GoogleMap)
            </th>
            <th></th>
        </tr>
        @*@Html.DisplayNameFor(model => model.locationName)
                <tr>
                <th>
                    @Html.DisplayNameFor(model => model.locationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.locationZip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.locationImgSrc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.locationGoogleMap)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model.location)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgSrc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoogleMap)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    <table class="table">
        
        <tr>
            <th>
                Type
            </th>
            <th>
                Owner
                @*@Html.DisplayNameFor(model => model.Location.Name)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocationTask.Name)
            </th>
            @*<th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.singleLocationTask.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocationTask.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocationTask.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.singleLocationTask.Priority)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.singleLocationTask.Flag)
                </th>*@
            <th></th>
            @*@Html.DisplayNameFor(model => model.locationTaskName)
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskStartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskEndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskBudget)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskPriority)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.locationTaskFlag)
                    </th>
                    <th></th>
                </tr>*@
            @foreach (var item in Model.locationTask)
            {
            <tr>
                <td id="taskOrAlert">
                    @if (item.Flag.Value == false)
                    { <p>Alert</p>}
                    else if (item.Flag.Value == true)
                    { <p>Task</p>}
                    else
                    { @Html.DisplayFor(modelItem => item.Flag)}

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "LocationTasks", routeValues: new { id = item.Id }, htmlAttributes: null)|
                    @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "LocationTasks", routeValues: new { id = item.Id }, htmlAttributes: null)|
                    @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "LocationTasks", routeValues: new { id = item.Id }, htmlAttributes: null)
                </td>
            </tr>
            }
        </table>
    </div>
    